<html>

<head>
    <title>Display!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="/style/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="style/ie8.css" /><![endif]-->
    <noscript>
        <link rel="stylesheet" href="/style/noscript.css" />
    </noscript>
    <script src="http://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/display.js"></script>
</head>

<body>
	<section class="main centerall" id="landing">
        <div id="wrapper">
            <h1>You can rent this display instantly!</h1>
            <h2>Go to http://smartproperty.media.edu</h2>


            <img src="/images/qr.png">
		</div>
	</section>
    <iframe id="displayout" src="about:blank" height="100%" width="100%" style="border:none;"> fuck</iframe>
</body>

</html>
